# Python cache and virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/

# Environment variables
.env

# Ignore virtual environment folder
.venv/

# OS-specific
.DS_Store
Thumbs.db

# VS Code settings
.vscode/
