# Python cache and virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/

# Ignore environment variables
.env

# Ignore virtual environment folder
.venv/

# OS-specific
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Ignore device output
cleaned_devices.json

# Ignore screenshots
Screenshots/

# Ignore all SQLite database files
*.db
*.db-journal
*.sqlite3

# Ignore report outputs (they contain sensitive information)
/Reports